*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #05374b;
    color: aliceblue;
}
ul{
    display: flex;
    gap: 15px;
    text-align: center;
    margin-right: 40px;

}
ul li{
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;
}
#barIcon{
    display: none;
}

@media(max-width:600px){
     ul{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        color: #000;
        overflow: hidden;
        background-color: #05374b;
        color: aliceblue;
        width: 100%;
    }
     ul li{
        padding: 20px;
    }
 
    #barIcon{
        display: block;
        margin: 30px;
    
       
    }

}
body{
    background-color: #03202c;
    height: 100%;
}
.content{
    width: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: aliceblue;
    border-radius: 10px;
    min-width: 450px;
    min-height: 100px;
    overflow: hidden
 
}
#newTask{
    position: relative;
    padding: 20px,30px;
}
 input{
    width: 80%;
    height: 45px;
    font-size: 20px;
    border: 2px solid;
    position: relative;
    border-radius: 5px;
    margin: 20px;
    outline: none;
}
#push{
    width: 10%;
    height: 45px;
    border-radius: 5px;
   position: absolute;
   margin:10px;
   top: 10%;
   background-color: #05374b;
   color: aliceblue;
   
}
#tasks ul{
    text-align: center;
    font-size: 30px;
    background-color: #05374b;
    color: aliceblue;
    position: relative;
    text-align: left;
    margin: 10px;

}
#tasks ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    
}
h1{
    text-align: center;
}
@media(max-width:344px){
    .container{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 500px;
        margin: auto;
        background-color: #05374b;
        color: aliceblue;
    }
   
    .content{
        width: 70%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 80%;
        background-color: aliceblue;
        border-radius: 10px;
        min-width: 450px;
        min-height: 100px;
        overflow: hidden
     
    }
    #tasks ul{
        text-align: center;
        font-size: 30px;
        background-color: #05374b;
        color: aliceblue;
        position: relative;
      margin: 10px;
    
    
    }

}
@media(max-width:412px){
    .container{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 600px;
        margin: auto;
        background-color: #05374b;
        color: aliceblue;
    }
   
    .content{
        width: 70%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 80%;
        background-color: aliceblue;
        border-radius: 10px;
        min-width: 450px;
        min-height: 100px;
        overflow: hidden
     
    }
    #tasks ul{
        text-align: center;
        font-size: 30px;
        background-color: #05374b;
        color: aliceblue;
        position: relative;
      margin: 10px;
    
    
    }

}
@media(max-width:540px){
    .container{
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 800px;
        margin: auto;
        background-color: #05374b;
        color: aliceblue;
    }
   
    .content{
        width: 70%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 80%;
        background-color: aliceblue;
        border-radius: 10px;
        min-width: 450px;
        min-height: 100px;
        overflow: hidden
     
    }
    #tasks ul{
        text-align: center;
        font-size: 30px;
        background-color: #05374b;
        color: aliceblue;
        position: relative;
      margin: 10px;
    
    
    }

}


